/* Navbar css */
.button-container {
    display: flex;
    width: 90vw;
    height: 10vw;
    align-items: center;
    justify-content: space-around;
    border-radius: 10vw;
  }
  
  .button {
    outline: 0;
    border: 0 ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }