/* Tutor styles */
body {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
}

nav {
    background-color: rgba(71, 98, 79, 0.5);
    color: #333333;
}

nav a {
    color: #fff;
}

footer {
    background-color: rgba(255, 138, 91, 1);
    color: #fff;
}