ul{
    list-style-type: none;
    background-color: rgba(162,176,166,255); 
}

li{
    margin: 30px 15px;
    padding: 20px;
    color: white;
    border-radius: 25px;
}

li:nth-child(even) {
    background-color: rgba(122,185,174,255);
}

li:nth-child(odd) {
    background-color: rgba(236,177,153,255);
}

.grid-container{
    display: grid;
    grid-template-rows:  repeat(2, 1fr);
    grid-template-columns:  repeat(2, 1fr);
    column-gap: 5px;
    grid-template-columns: auto;
    padding: 5px;
    border-radius: 25px;
}

.grid-item{
    padding: 5px;
    text-align: center;
}